/*---------Reset Css--------------------------------*/
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}


:root {

  /*-------fontsize-----*/
    --fs-900: 3rem;
    --fs-800: 2.62rem;
    --fs-700: 2rem;
    --fs-600: 1.5rem;
    --fs-500: 1rem;
    --fs-400: 0.9375rem;
    --fs-300: 1rem;
    --fs-200: 0.875rem;
    /*------------------*/ 
    /*-------------fontfamily----------------------*/
    --ff-inter: "Inter", sans-serif;
    --ff-serif: "Bellefair", serif;
    --ff-sans-cond: "Barlow Condensed", sans-serif;
    --ff-sans-normal: "Barlow", sans-serif;
    /*----------------------------------------------*/ 


  
  /*-------Color---------*/
  --clr-black : #0a0a14;
  --clr-white : #fff;
  --clr-gray  : #f4f4f4;
  --clr-blue  : #ddeefe;
  --clr-green : #d9f6f1;
  --clr-grayblue : #2a262b;
  --clr-darkgray : #484148;
  --clr-middlegray : #525252;
  --clr-darkblue : #2d3235;
  --clr-darkbluegreen : #495351;
  /*--------------------------------*/
}


/*------------Utility Classes-------------- */

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.wrap {
  flex-wrap: wrap;
}


  /*-------background-color---------*/

  .bg-white {background-color: var(--clr-white);}
  .bg-gray  {background-color: var(--clr-gray );}
  .bg-blue  {background-color: var(--clr-blue );}
  .bg-green {background-color: var(--clr-green);}
  .bg-grayblue {background-color: var(--clr-grayblue);}
  .bg-darkgray {background-color: var(--clr-darkgray);}
  .bg-middlegray {background-color: var(--clr-middlegray);}
  .bg-darkblue {background-color: var(--clr-darkblue);}
  .bg-darkbluegreen {background-color: var(--clr-darkbluegreen);}

  /*---font-family*/
  .ff-inter { font-family: var(--ff-inter); }



  /*-------background-color---------*/

  .tx-white {color: var(--clr-white);}
  .tx-black {color: var(--clr-black);}


.uppercase {
  text-transform: uppercase;
}  


.mode {
  justify-content: end;
}